@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="span3">
    <div style="padding-top: 80px"><button type="button" class="btn btn-success">Add Filter</button></div>
    <ul class="nav nav-list bs-docs-sidenav affix">
        <li class="active"><a href="#overview"><i class="icon-chevron-right"></i> Filter 1</a></li>
        <li><a href="#transitions"><i class="icon-chevron-right"></i> Filter 2</a></li>
        <li><a href="#modals"><i class="icon-chevron-right"></i> Filter 3</a></li>
        <li><a href="#dropdowns"><i class="icon-chevron-right"></i> Filter 4</a></li>
        <li><a href="#scrollspy"><i class="icon-chevron-right"></i> Filter 5</a></li>
        <li><a href="#tabs"><i class="icon-chevron-right"></i> Filter 6</a></li>
        <li><a href="#tooltips"><i class="icon-chevron-right"></i> Filter N</a></li>
    </ul>
</div>
<div class="span9">
<a href="#" id="filterAnchor">Manage filters</a>
@{ Html.RenderPartial("_dashboardDataFilters");}
<div id="addRestDataSourceModdalWindow" class="modal hide" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Add Data Source</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset class="well">
                <div class="control-group">
                    <label class="control-label" for="itemName">Service</label>
                    <div class="controls">
                        <input class="input-medium focused" type="text" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="itemName">ID</label>
                    <div class="controls">
                        <select class="input-medium focused">
                            <option>Int32</option>
                            <option>String</option>
                            <option>DateTime</option>
                            <option>Bool</option>
                        </select>
                        <button>Delete</button>
                    </div>
                    <button>Add new field</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>
<br />
<br />
<ul class="nav nav-pills" style="padding-top: 30px;">
    <li class="active"><a href="#ScLogs" data-toggle="tab">ServiceChannel Errors</a></li>
    <li><a href="#MyTwits" data-toggle="tab">My Twits</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="ScLogs">
<div class="pull-left">
    Frequency:
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn btn-mini btn-success">1 min</button>
      <button type="button" class="btn btn-mini btn-success">2 min</button>
      <button type="button" class="btn btn-mini btn-success">3 min</button>
      <button type="button" class="btn btn-mini btn-success">4 min</button>
      <button type="button" class="btn btn-mini btn-success">5 min</button>
    </div>
    Show last:
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn btn-mini btn-success">10</button>
      <button type="button" class="btn btn-mini btn-success">50</button>
      <button type="button" class="btn btn-mini btn-success">100</button>
    </div>
</div>
<ul class="nav nav-pills pull-right">
    <li><button type="button" class="btn btn-primary">Add Alert</button></li>
    <li class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Add DataSource<b class="caret"></b></button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#addRestDataSourceModdalWindow" role="menuitem" data-toggle="modal">HTTP/REST</a></li>
            <li><a href="#addRestDataSourceModdalWindow" role="menuitem" data-toggle="modal">SOAP</a></li>
        </ul>
    </li>
</ul>
<br />
<br />
        <input type="text" id="dsId" />
        <input type="button" value="Open Connection" id="btnOpnCon"/>
        <table id="tbContent" class="table table-condensed">
            <tr>
                <th>Key</th>
                <th>Message</th>
                <th>Exception</th>
                <th>Level</th>
                <th>Date</th>
            </tr>
        </table>
        Total Records: <b>4</b>
    </div>
    <div class="tab-pane" id="MyTwits">
        <table class="table table-condensed">
            <tr>
                <th>Date</th>
                <th>Nickname</th>
                <th>Text</th>
                <th>Age</th>
                <th>Public</th>
            </tr>
            <tr>
                <td>28.05.2013</td>
                <td>John Smith</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                <td>22</td>
                <td>
                    <input type="checkbox" disabled checked /></td>
            </tr>
            <tr>
                <td>28.05.2013</td>
                <td>John Smith</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                <td>22</td>
                <td>
                    <input type="checkbox" disabled checked /></td>
            </tr>
            <tr>
                <td>28.05.2013</td>
                <td>John Smith</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                <td>22</td>
                <td>
                    <input type="checkbox" disabled /></td>
            </tr>
            <tr>
                <td>28.05.2013</td>
                <td>John Smith</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                <td>22</td>
                <td>
                    <input type="checkbox" disabled checked /></td>
            </tr>
            <tr>
                <td>28.05.2013</td>
                <td>John Smith</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                <td>22</td>
                <td>
                    <input type="checkbox" disabled /></td>
            </tr>
        </table>
        Total Records: <b>5</b>
    </div>
</div>
</div>

@section Scripts
{

    @Scripts.Render("~/Scripts/jquery.signalR-1.1.2.min.js")
   <script type="text/javascript">
       $(document).ready(function () {
           $('#filterAnchor').popover({
               placement: 'bottom',
               title: 'Add new filter',
               content: $("#filterPanel").html(),
               html:true,
               trigger: 'click'
           });

               //.attr("data-content", $("#filterPanel").html());

           $("#btnOpnCon").click(function () {
               var connection = $.connection('/datasource', "dataSourceId=" + $("#dsId").val(), true);
              
               connection.start().done(function () {
                   connection.received(function (data) {
                       $('#tbContent tr:last').after('<tr><td>'+data.Key+'</td><td>'+data.Message+'</td><td>'+data.Exception+'</td><td>'+data.Level+'</td><td>'+data.Date+'</td></tr>');
                   });
               });
               
              

           });
       });
    </script>
}
