@model Naviam.DataAnalyzer.UI.Controllers.Models.MemberDashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<div id="topmenu" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">RTA</a>
            <div class="nav-collapse">
                <ul class="nav nav-pills">
                    <li><a href="#" data-toggle="tab" title="My Twits">My Account</a></li>
                    <li><a href="#" title="ServiceChannel Errors">Settings</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li>
                        @* <a href="#addRestDataSourceModdalWindow" data-toggle="modal">Add Datasource</a>*@
                        <a href="@Url.Action("AddDataSource", "Member")">Add Datasource</a>
                    </li>
                    <li><a href="#" title="Log Out">Log Out</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

@*@{ Html.RenderPartial("_addRestDataSource");}*@
<div>
    <div style="float: left; width: 15%;">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#MyTwits" data-toggle="tab" title="My Twits">My Twits</a></li>
                <li><a data-toggle="tab" href="#ScLogs" title="ServiceChannel Errors">ServiceChannel Errors</a></li>
            </ul>
        </div>
    </div>
    <div style="float: left; width: 85%">
        <div class="tab-content">
            <div class="tab-pane active" id="MyTwits">
                @{ Html.RenderPartial("_dashboardDataFiltersAlt");}
                <table class="table table-condensed">
                    <tr>
                        <th>Date</th>
                        <th>Nickname</th>
                        <th>Text</th>
                        <th>Age</th>
                        <th>Public</th>
                    </tr>
                    <tr>
                        <td>28.05.2013</td>
                        <td>John Smith</td>
                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                        <td>22</td>
                        <td>
                            <input type="checkbox" disabled checked /></td>
                    </tr>
                    <tr>
                        <td>28.05.2013</td>
                        <td>John Smith</td>
                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                        <td>22</td>
                        <td>
                            <input type="checkbox" disabled checked /></td>
                    </tr>
                    <tr>
                        <td>28.05.2013</td>
                        <td>John Smith</td>
                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                        <td>22</td>
                        <td>
                            <input type="checkbox" disabled /></td>
                    </tr>
                    <tr>
                        <td>28.05.2013</td>
                        <td>John Smith</td>
                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                        <td>22</td>
                        <td>
                            <input type="checkbox" disabled checked /></td>
                    </tr>
                    <tr>
                        <td>28.05.2013</td>
                        <td>John Smith</td>
                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                        <td>22</td>
                        <td>
                            <input type="checkbox" disabled /></td>
                    </tr>
                </table>
                Total Records: <b>5</b>
            </div>
            <div class="tab-pane " id="ScLogs">
                <a href="#" id="filterAnchor">Manage filters</a>
                @{ Html.RenderPartial("_dashboardDataFilters");}
                <br />
                <b>Datasource ID: 32B08481-9298-48C6-AFCF-644B5A2CC5A3</b><br />
                <input type="text" id="dsId" />
                <input type="button" value="Open Connection" id="btnOpnCon" />
                <table id="tbContent" class="table table-condensed">
                    <tr>
                        <th>Key</th>
                        <th>Message</th>
                        <th>Exception</th>
                        <th>Level</th>
                        <th>Date</th>
                    </tr>
                </table>
                Total Records: <b>4</b>
            </div>

        </div>
    </div>
</div>
<input id="model" type="hidden" value="@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model))" />
@section Scripts
{
    @Scripts.Render("~/bundles/memberDashBoard")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#filterAnchor').popover({
                placement: 'bottom',
                title: 'Add new filter',
                content: $("#filterPanel").html(),
                html: true,
                trigger: 'click'
            });

            //.attr("data-content", $("#filterPanel").html());

            $("#btnOpnCon").click(function () {
                var connection = $.connection('/datasource', "dataSourceId=" + $("#dsId").val(), true);

                connection.start().done(function () {
                    connection.received(function (data) {
                        $('#tbContent tr:last').after('<tr><td>' + data.Key + '</td><td>' + data.Message + '</td><td>' + data.Exception + '</td><td>' + data.Level + '</td><td>' + data.Date + '</td></tr>');
                    });
                });
            });
            
            var memberDashboardViewModel = new MemberDashboardViewModel($("#model").val());

            ko.applyBindings(memberDashboardViewModel);
        });
    </script>
}
