@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<div id="topmenu" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">RTA</a>
            <div class="nav-collapse">
                <ul class="nav nav-pills">
                    <li  class="active"><a href="#MyTwits" data-toggle="tab" title="My Twits">My Twits</a></li>
                    <li><a data-toggle="tab" href="#ScLogs" title="ServiceChannel Errors">ServiceChannel Errors</a></li>
                    
                </ul>
                <ul class="nav pull-right">
                    <li >
                        <a href="#addRestDataSourceModdalWindow" data-toggle="modal">Add Datasource</a>
                       
                    </li>
                    <li><a href="#" title="Log Out">Log Out</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="pull-left">
    @*Frequency:
    <select>
        <option>1 min</option>
        <option>2 min</option>
        <option>3 min</option>
        <option>4 min</option>
        <option>5 min</option>
    </select>
    Show last:
    <select>
        <option>10</option>
        <option>50</option>
        <option>100</option>
    </select>
</div>*@
@*<ul class="nav nav-pills pull-right">

    <li>
        <button type="button" class="btn btn-primary">Add Allert</button></li>
    <li>
        <button type="button" class="btn btn-primary">Add Filter</button></li>
    <li class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Add DataSource<b class="caret"></b></button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#addRestDataSourceModdalWindow" role="menuitem" data-toggle="modal">HTTP/REST</a></li>
        </ul>
    </li>
</ul>*@

@{ Html.RenderPartial("_addRestDataSource");}

<div class="tab-content">
    <div class="tab-pane active" id="MyTwits">
        @{ Html.RenderPartial("_dashboardDataFiltersAlt");}
        <table class="table table-condensed">
            <tr>
                <th>Date</th>
                <th>Nickname</th>
                <th>Text</th>
                <th>Age</th>
                <th>Public</th>
            </tr>
            <tr>
                <td>28.05.2013</td>
                <td>John Smith</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                <td>22</td>
                <td>
                    <input type="checkbox" disabled checked /></td>
            </tr>
            <tr>
                <td>28.05.2013</td>
                <td>John Smith</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                <td>22</td>
                <td>
                    <input type="checkbox" disabled checked /></td>
            </tr>
            <tr>
                <td>28.05.2013</td>
                <td>John Smith</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                <td>22</td>
                <td>
                    <input type="checkbox" disabled /></td>
            </tr>
            <tr>
                <td>28.05.2013</td>
                <td>John Smith</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                <td>22</td>
                <td>
                    <input type="checkbox" disabled checked /></td>
            </tr>
            <tr>
                <td>28.05.2013</td>
                <td>John Smith</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</td>
                <td>22</td>
                <td>
                    <input type="checkbox" disabled /></td>
            </tr>
        </table>
        Total Records: <b>5</b>
    </div>
    <div class="tab-pane " id="ScLogs">
        <a href="#" id="filterAnchor">Manage filters</a>
        @{ Html.RenderPartial("_dashboardDataFilters");}<br />
        <b>Datasource ID: 32B08481-9298-48C6-AFCF-644B5A2CC5A3</b><br />
        <input type="text" id="dsId" />
        <input type="button" value="Open Connection" id="btnOpnCon" />
        <table id="tbContent" class="table table-condensed">
            <tr>
                <th>Key</th>
                <th>Message</th>
                <th>Exception</th>
                <th>Level</th>
                <th>Date</th>
            </tr>
        </table>
        Total Records: <b>4</b>
    </div>
    
</div>
@section Scripts
{

    @Scripts.Render("~/Scripts/jquery.signalR-1.1.2.min.js")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#filterAnchor').popover({
                placement: 'bottom',
                title: 'Add new filter',
                content: $("#filterPanel").html(),
                html: true,
                trigger: 'click'
            });

            //.attr("data-content", $("#filterPanel").html());

            $("#btnOpnCon").click(function () {
                var connection = $.connection('/datasource', "dataSourceId=" + $("#dsId").val(), true);

                connection.start().done(function () {
                    connection.received(function (data) {
                        $('#tbContent tr:last').after('<tr><td>' + data.Key + '</td><td>' + data.Message + '</td><td>' + data.Exception + '</td><td>' + data.Level + '</td><td>' + data.Date + '</td></tr>');
                    });
                });
            });
        });
    </script>
}
