<div id="navbar-example" class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#" style="padding: 10px 10px 10px 20px;">Filter your datasource</a>
            <div class="input-prepend input-append" style="margin-top: 5px; margin-bottom: 0px">
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn dropdown-toggle">with <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <input type="radio" id="ID1" name="NAME" value="1"><label for="ID1">with</label></li>
                        <li>
                            <input type="radio" id="ID2" name="NAME" value="2"><label for="ID2">without</label></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        Date
                <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Nickname</a></li>
                        <li><a tabindex="-1" href="#">Text</a></li>
                        <li><a tabindex="-1" href="#">Age</a></li>
                        <li><a tabindex="-1" href="#">Public</a></li>
                    </ul>
                </div>
                <input class="span4" id="appendedInputButton" type="text">
                <div class="btn-group">
                    <button class="btn">Add criteria</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        Saved
            <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Search 1</a></li>
                        <li><a tabindex="-1" href="#">Search 2</a></li>
                        <li><a tabindex="-1" href="#">Search 3</a></li>
                        <li><a tabindex="-1" href="#">Search 4</a></li>
                        <li><a tabindex="-1" href="#">Search 5</a></li>
                        <li><a tabindex="-1" href="#">Search 6</a></li>
                        <li><a tabindex="-1" href="#">Search 7</a></li>
                        <li><a tabindex="-1" href="#">Search 8</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">Manage Saved Searches</a></li>
                    </ul>
                </div>
                <button class="btn">Advanced</button>
            </div>
        </div>
    </div>
</div>
