<div id='filterPanel' style='display:none; width:300px'>
    <table  class='table table-condensed'>
        <tbody >
            <tr>
                <td><a href='#'>x</a></td>
                <td>Key</td>
                <td>equals</td>
                <td>qweasd</td>
                <td><a href='#'>enable</a></td>
            </tr>
            <tr>
                <td><a href='#'>x</a></td>
                <td><b>Level</b></td>
                <td>less than</td>
                <td>5</td>
                <td><a href='#'>disable</a></td>
            </tr>
            <tr>
                <td colspan='5'>
                    <a href='#'>Add New Filter</a>
                </td>
            </tr>
            <tr>
                <td colspan='2'>
                    <select>
                        <option>Key</option>
                        <option>Message</option>
                        <option>Exception</option>
                        <option>Level</option>
                        <option>Date</option>
                    </select>
                </td>
                <td>
                    <select>
                        <option>equals</option>
                        <option>like</option>
                        <option>less than</option>
                        <option>greater that</option>
                    </select>
                </td>
                <td colspan='2'>
                    <input type='text' />
                </td>
            </tr>
        </tbody>
    </table>
    
</div>