<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAIFCE4GL4XTTERXYQ"/>
    <add key="AWSSecretKey" value="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"/>
    <!--EU (Ireland) Region-->  
    <add key="ServiceURL" value="dynamodb.eu-west-1.amazonaws.com"/>
  </appSettings>
  <!--For the best performance of your server-based applications with the AWS SDK for .NET, we recommend 
  that you use Server mode garbage collection (GC).--> 
  <runtime>
      <gcServer enabled="true"/>
      <gcConcurrent enabled="true"/>
  </runtime>
</configuration>