body { padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */ }
.filter_view, .filter_view2 {
    background-color: #f1f1f1;
    float: left;
    display: block;
    line-height: 26px;
    margin: 4px;
    outline: 1px solid #fff;
    padding: 2px 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.filter_view:hover,.filter_view2:hover{background-color:#dbdbdb}
.filter_view a{background-color:#609cbd;color:#fff;display:inline-block;cursor:pointer;margin:0 4px;padding:0 8px;line-height:22px;-moz-border-radius:4px;-webkit-border-radius:4px}
.filter_view a:hover{background-color:#067ab6}
.filter_view a span{font-weight:bold;font-size:14px}
.filter_view label{display:inline;margin-bottom:0;color:#fff}
.filter_view2{color:#167bb2;cursor:pointer}
.filter_view a{text-decoration:none}
.filter-plus .filter_view a, .filter-view-plus-header {
    background-color:#93B690;
}
.filter-minus .filter_view a, .filter-view-minus-header {
    background-color:#B69090;
}
.filter-plus .filter_view a:hover, .filter-view-plus-header:hover {
    background-color:#56c24d;
}
.filter-minus .filter_view a:hover, .filter-view-minus-header:hover {
    background-color:#c25b5b;
}
.filter_links a.active{background-color:#167bb2}
.filter_view b,.filter_view2 b{color:#999}
.filter_view .btn_close,.filter_view2 .btn_close{float:left}
.filter_view .btn_close a,.filter_view2 .btn_close a{background-color:transparent;color:#609cbd;font-weight:bold;padding:0}
.filter_view .btn_close a:hover,.filter_view2 .btn_close a:hover{background-color:transparent;color:#067ab6;text-decoration:none}
.filter_window {clear:right}/* delete entire class */
.filter_window b{float:left;padding:12px 4px}
.btn_filter{background:#067ab6;color:#888888;height:33px;line-height:normal;padding:4px 8px;text-shadow:1px 1px 1px #fbfbfb;float:right;position:relative;margin:5px 2px 0 -50px;
        -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border-top-left-radius:0;border-bottom-left-radius:0;-moz-border-radius-topleft:0;-moz-border-radius-bottomleft:0;-webkit-border-top-left-radius:0;-webkit-border-bottom-left-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#ccc;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#ccc),color-stop(0.6,#eee));
        background-image:-webkit-linear-gradient(center bottom,#ccc 0%,#eee 60%);background-image:-moz-linear-gradient(center bottom,#ccc 0%,#eee 60%);background-image:-o-linear-gradient(bottom,#ccc 0%,#eee 60%);background-image:-ms-linear-gradient(top,#cccccc 0%,#eeeeee 60%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc',endColorstr='#eeeeee',GradientType=0);background-image:linear-gradient(top,#cccccc 0%,#eeeeee 60%);border-left:1px solid #aaa;cursor:pointer}
.filter_window .filter_links{float:left}
.filter_window .filter_links a{color:#067ab6;margin:2px;padding:3px;line-height:38px;font-weight:bold}
.filter_window input[type="text"]{border:2px solid #067ab6;color:#666;float:right;line-height:24px;margin:3px 0 0;width:308px;-moz-border-radius:4px;-webkit-border-radius:4px;
                                    background-color:#fff;background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0,#eeeeee),color-stop(0.5,white));background-image:-webkit-linear-gradient(center bottom,#eeeeee 0%,white 50%);background-image:-moz-linear-gradient(center bottom,#eeeeee 0%,white 50%);background-image:-o-linear-gradient(top,#eeeeee 0%,#ffffff 50%);background-image:-ms-linear-gradient(top,#eeeeee 0%,#ffffff 50%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#ffffff',GradientType=0);
                                    background-image:linear-gradient(top, #eeeeee 0%,#ffffff 50%);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;display:block;overflow:hidden;white-space:nowrap;height:26px;padding:0 0 0 8px;color:#444;text-decoration:none}
.filter_window select{border:2px solid #067ab6;color:#666;float:right;margin:4px;width:154px;-moz-border-radius:2px;-webkit-border-radius:2px}
.filter_window .filter_links .selected{background-color:#067ab6;color:#fff;font-weight:bold;margin:4px;padding:6px 10px;-moz-border-radius:4px;-webkit-border-radius:4px}


.navbar-fixed-top .navbar-inner {
  background-color: #0575b4;
  background-image: -moz-linear-gradient(top, #2da8ec, #0575b4);
  background-image: -ms-linear-gradient(top, #2da8ec, #0575b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2da8ec), to(#0575b4));
  background-image: -webkit-linear-gradient(top, #2da8ec, #0575b4);
  background-image: -o-linear-gradient(top, #2da8ec, #0575b4);
  background-image: linear-gradient(top, #2da8ec, #0575b4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2da8ec', endColorstr='#0575b4', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar-fixed-top .nav-tabs .dropdown-toggle .caret,
.navbar-fixed-top .nav-pills .dropdown-toggle .caret {
  border-top-color: #0683c9;
  border-bottom-color: #0683c9;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #0575b4;
  border-bottom-color: #0575b4;
}
.navbar-fixed-top .navbar-fixed-top {
    margin-bottom: 0;
}
/*.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container,.subnav-fixed .nav {
    min-width: 970px;
}*/
.navbar-fixed-top .brand {
    float:left;
    margin:0;
    width: 211px;
    height: 52px;
    position: absolute;
    top: 6px;
    left: 6px;
    cursor: default;
}
.navbar-fixed-top .nav li.dropdown.open > .dropdown-toggle {
color: white;
background-color: transparent;
}
.navbar-fixed-top .nav .active > a, .navbar-fixed-top .nav .active > a:hover {
    background-color: #0575b4;
    color: white;
}
.navbar-fixed-top .nav > li > a {
    color: #c7f8ff;
    text-shadow: none;
}
.navbar-fixed-top .nav > li > a:hover {
color: #ffffff;
text-shadow: none;
}
.navbar-fixed-top .divider-vertical {
    background-color: #0575b4;
    border-right: 1px solid #2da8ec;
}
.subnav .nav > li > a {
    border-left: 1px solid #F5F5F5;
    border-radius: 0 0 0 0;
    border-right: 1px solid #E5E5E5;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
}
.subnav .nav > li > a {
    border-left: 1px solid #F5F5F5;
    border-radius: 0 0 0 0;
    border-right: 1px solid #E5E5E5;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
}
.navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 100%;
    min-width: 958px
  }
.navbar-fixed-top .nav{margin-left:224px}
.logo-width{width:224px}
